/*responsive until 420px(screen width)*/

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
  background-color: #242526;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-bottom: 1px solid;
}

.brand_logo {
  font-size: 1rem;
  margin: 0.5rem;
}

.brand_logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0;
}

.brand_logo a:hover {
  transition: 0.5s all ease-in-out;
  color: #364966;
}

.navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  font-size: 1rem;
}

.navbar_links li a:hover {
  background-color: #364966;
  transition: 0.5s all ease-in-out;
}

/*Hamburger menu*/

.toggle_button {
  /*container numbg pinaka hamburger button*/
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .toggle_button {
    display: flex;
    height: 2rem;
    width: 2.5rem;
  }

  .navbar_links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar_links li {
    text-align: center;
    width: 100%;
  }

  .navbar_links li a {
    padding: 0.7rem;
  }

  .navbar_links.active {
    display: flex;
  }
}

/*Main Content/Body Section*/
#carousel_container {
  margin: 0;
  padding: 0;
}

.carousel-inner img {
  object-fit: cover;
  object-position: center;
  height: 55vh;
}

#content1_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242526;
  color: #ffffff;
  padding: 2rem;
}

#content1_container h1 {
  padding-bottom: 1rem;
  font-size: clamp(2rem, 3vw, 3rem);
}

#content1_container span {
  color: #364966;
  text-decoration: underline;
}

#content1_container p {
  font-size: clamp(0.5rem, 2vw, 1rem);
}

#content1_container hr {
  width: 100%;
}

#content1_container button {
  margin: 1rem;
  margin-bottom: 5rem;
}

#content1_container button a {
  font-size: 1.5rem;
  padding: 2rem;
  text-decoration: none;
}

#content1_container button a:hover {
  color: #222;
  transition: 0.3s all ease-in-out;
}

#section_title {
  font-size: clamp(2rem, 6vw, 6.5rem);
  text-align: center;
  background-color: #242526;
  color: #ffffff;
  padding: 3rem;
  padding-top: 7rem;
  text-decoration: underline;
  font-weight: 200;
}

/*About Section*/

#content2_container {
  text-align: justify;
  padding: 3rem;
  padding-top: 7rem;

  background-image: url(assets/img/pexels-scott-webb-593158.jpg);

  color: #ffffff;
}

#content2_container p {
  font-size: clamp(1rem, 2.5vw, 3rem);
  text-align: center;
}

#content2_container .row_container {
  margin: 0;
  padding: 0;
}
#col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#col1 h1 {
  padding: 2.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: clamp(1.5rem, 3vw, 5rem);
}

#col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#col3 h1 {
  padding: 1rem;
  font-size: clamp(0.625rem, 1.5vw, 2.5rem);
  display: flex;
  justify-content: left;
}

#col2 {
  max-width: 5px;
  width: 5px;
  border-radius: 10px;
  padding: 0;
  margin: 2rem;
}

/*Portfolio Section - Skills*/

#portfolio_skills_container {
  background-color: #242526;
}

#portfolio_skills_container #left {
  background-image: linear-gradient(110.52deg, #201156 16.8%, #4c126c 72.76%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio_skills_container #left h1 {
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 8rem);
}

#portfolio_skills_container #right {
  /* background-color: #201156; */
  background-image: url(assets/img/pawel-czerwinski-prMn9KINLtI-unsplash.jpg);
}

#portfolio_skills_container #right h1,
a {
  color: #ffffff;
  padding: 0.5rem;
  text-decoration: none;
  font-size: clamp(1rem, 2.5vw, 4rem);
}

#portfolio_skills_container #right h1:hover {
  color: #4c126c;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

/*Portfolio Section - Experience*/
#portfolio_experience_container #left {
  /* background-image: linear-gradient(275.12deg, #26474e -1.52%, #4c126c 90.56%); */
  background-image: linear-gradient(275.12deg, #4c126c -1.52%, #26474e 90.56%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio_experience_container #left h1 {
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 8rem);
}

#portfolio_experience_container #right {
  background-image: url(assets/img/pexels-anni-roenkae-3109807.jpg);
}

#portfolio_experience_container #right h1 {
  color: #ffffff;
  font-size: clamp(1rem, 2.5vw, 4rem);
  /* padding-bottom: 3rem; */
  padding: 1rem;
}

/*Porfolio Section - Projects*/

#cards_container {
  /* background-image: linear-gradient(279.74deg, #101820 43.17%, #222222 100%); */
  background-image: linear-gradient(to bottom right, #222222 30%, #364966);
  color: #222;
  padding: 5rem 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#cards_container .card {
  height: 28rem;
  box-shadow: 3px 3px 20px #aaaaaa;
}

#cards_container .card .card-body .card-text {
  font-size: 0.8rem;
  color: #26474e;
}

#cards_container .card .card-body a {
  background-color: #364966;
  color: #ffffff;
}

/*Footer Section*/
footer {
  background-color: #222;
  color: #ffffff;
}

footer #logo {
  font-size: 1.5rem;
}

footer #logo:hover {
  transition: 0.3s all ease-in-out;
  color: #364966;
}

footer .logo_container a {
  text-decoration: none;
}

footer h3 {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 1rem;
}

#footer_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.icon_container {
  display: block;
}

.icon_container a {
  color: #ffffff;
  padding: 1rem;
  font-size: 1.5rem;
}

.icon_container a:hover {
  transition: 0.3s all ease-in-out;
  color: #364966;
}

/*For Responsiveness*/
@media screen and (max-width: 1150px) {
  #cards_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    margin: 2rem;
  }
}

@media screen and (max-width: 991px) {
  #portfolio_skills_container #right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  #portfolio_skills_container #right h1 {
    font-size: clamp(1rem, 2vw, 2rem);
  }

  #portfolio_experience_container #right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  #portfolio_experience_container #right h1 {
    padding: 2rem;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
}

/*for tablets*/
@media screen and (max-width: 768px) {
  #content1_container h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
  }

  #content1_container p {
    font-size: 0.8rem;
  }

  #content1_container button {
    margin: 1rem;
    margin-bottom: 5rem;
  }

  #content1_container button a {
    font-size: 1rem;
    padding: 2rem;
    text-decoration: none;
  }

  #content2_container #col1 h1 {
    padding: 1.3rem;
  }

  #footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
  }
}

@media screen and (max-width: 666px) {
  #content1_container {
    padding-bottom: 0;
  }

  #content1_container p {
    font-size: clamp(0.7rem, 0.3vw, 1rem);
  }

  #content1_container button a {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  #content2_container #col1 h1 {
    padding: 0.8rem;
  }

  #content2_container #col1 h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  #content2_container #col2 {
    padding: 0;
    margin: 0.5rem;
  }

  #content2_container #col3 h1 {
    font-size: 0.5rem;
  }

  #portfolio_experience_container #right h1 {
    font-size: 0.6rem;
    padding: 1rem;
  }
}
